*{
	margin: 0;
	padding: 0;
}
body{
	background-color: #e8e8e8;
	
}
/* 头部 */
.topt{
	background-color: #fff;
	width: 100%;
	height: 40px;
	
}
.topt ul{
	list-style: none;
	margin: 0 auto;
	width: 900px;
	
	height: 40px;
	
}
.topt ul li{
	display: inline-block;
	height: 100%;
}

/* 头部左边 */
/* 头部的腾讯游戏图片 */
.topt ul #one>a{
	width: 205px;
	height: 100%;
	
	float: left;
	background-image: url('../../imgs/cr/账号注销/DM_20230327094248_012.PNG');
	background-position: -20px -43px;
}
/* 头部的十周年图片 */
.topt ul #two>a{
	width: 230px;
	height: 100%;
	float: left;
	
	background-image: url('../../imgs/cr/账号注销/DM_20230327094248_012.PNG');
	background-position: 0px -85px;
}
/* 头部右边 */
/* 头部的内容 */
.topt ul #three{
	
	height: 100%;
	float: right;	
}
.topt ul #three .topt-4ll{
	height: 100%;
	float: left;
}
.topt ul #three .topt-4ll>a{
	text-decoration: none;
	color: #585858;
	border-right:1px solid #cbd1df;
	padding: 0 10px;
	line-height: 42px;
	font-size: 12px;
}
.topt ul #three .topt-4ll>a:hover{
	color: #0096D0;
}
.topt ul #three .topt-4lr{
	height: 100%;
	margin-left: 10px;
	float: left;
	width: 108px;
	background-image: url('../../imgs/cr/账号注销/DM_20230327094248_012.PNG');
	background-position: 0px -127px;
}
.topt ul #three .topt-4lr>a{
	text-decoration: none;
	color: #585858;
	line-height: 42px;
	padding-left: 23px;
	font-size: 10px;
}
.topt ul #three .topt-4lr>a:hover{
	color: #0096D0;
}

/* 头部的16+图片 */
.topt ul #four{
	width: 31px;
	height: 100%;
	float: right;
	
	background-image: url('../../imgs/cr/账号注销/DM_20230327094248_013.PNG');
	background-size: 100%;
}


/* 内容上部分 */
.nr .nr-top{
	height: 864px;
	background-image: url('../../imgs/cr/账号注销/DM_20230327094248_001.JPEG');
	background-repeat: no-repeat;
	background-position: 50% 0;
	
	width: 100%;
}
.nr .nr-top .ntnr{
	height: 100%;
	background-color: black;
	background-image: url('../../imgs/cr/账号注销/pc-header-c.jpg');
	width:900px;
	background:100% 864px;
	margin: 0 auto;
	position: relative;
	
}
/* 英雄联盟图片 */
.nr .nr-top .ntnr a img{
	margin: 10px;
}
/* 请登录 */
.nr .nr-top .ntnr p{
	position: relative;
	top: 600px;
	color: #fff;
	text-align: center;
	display: inline-block;
	width: 100%;
}
.nr .nr-top .ntnr p>a{
	color: #ffd89c;
	text-decoration: none;
}
/* 内容下部分 */
.nr .nr-bottom{
	height: 1400px;
	width: 100%;
	background-image: url('../../imgs/cr/账号注销/DM_20230327094248_003.JPEG');
	background-repeat: no-repeat;
	background-position: 50% 0;
}
.nr .nr-bottom .nbnr{
	height: 100%;
	width: 1000px;
	background-image: url('../../imgs/cr/账号注销/DM_20230327094248_004.JPEG');
	
	margin: 0 auto;
	
}
/* 内容下半头部 */
.nr .nr-bottom .nbnr .nrtop{
	width: 100%;
	height: 125px;
	
	
}
.nr .nr-bottom .nbnr .nrtop>div{
	width: 138px;
	
	height: 100%;
	float: left;
	margin-right: 25px;
	
}
/* 左边的 */
.nr .nr-bottom .nbnr .nrtop #left>span{
	height: 22px;
	width: 22px;
	
	display: block;
	background-image:url('../../imgs/cr/账号注销/DM_20230327094248_005.PNG');
	background-size: 100%;
	text-align: center;
	height: 22px;
	color: #d9af52;
	margin: 10px auto;
}
.nr .nr-bottom .nbnr .nrtop #left>p{
	color: #d9af52 ;
	font-weight: bold;
	display: block;
	text-align: center;
}
.nr .nr-bottom .nbnr .nrtop #left>i{
	width: 13px;
	height: 11px;
	background-image:url('../../imgs/cr/账号注销/DM_20230327094248_006.PNG');
	background-size: 100%;
	display: block;
	position: relative;
	bottom: 30px;
	left: 145px;
}
/* 中间的 */
.nr .nr-bottom .nbnr .nrtop #among>span{
	height: 22px;
	width: 22px;
	
	display: block;
	background-image:url('../../imgs/cr/账号注销/DM_20230327094248_007.PNG');
	background-size: 100%;
	text-align: center;
	height: 22px;
	color: #d5d5d5;
	margin: 10px auto;
}
.nr .nr-bottom .nbnr .nrtop #among>p{
	color: #d5d5d5;
	font-weight: bold;
	display: block;
	text-align: center;
}
.nr .nr-bottom .nbnr .nrtop #among>i{
	width: 13px;
	height: 11px;
	background-image:url('../../imgs/cr/账号注销/DM_20230327094248_008.PNG');
	background-size: 100%;
	display: block;
	position: relative;
	bottom: 30px;
	left: 145px;
}
/* 内容标题 */

.nr .nr-bottom .nbnr .nrbt{
	
	width: 100%;
	height: 270px;
}
.nr .nr-bottom .nbnr .nrbt>p{
	font-size: 42px;
	font-weight: bold;
	text-align: center;
	line-height:88px;
}
.nr .nr-bottom .nbnr .nrbt>span{
	width: 537px;
	height: 12px;
	background-image: url('../../imgs/cr/账号注销/DM_20230327094248_009.PNG');
	display: block;
	margin: 0 auto;
}
/* 内容 */
.nr .nr-bottom .nbnr #nr p>span{
	font-weight: bold;
}
.nr .nr-bottom .nbnr #nr>p:nth-child(1){
	text-align: center;
	font-size: 28px;
	margin-bottom: 30px;
}
.nr .nr-bottom .nbnr #nr>p{
	line-height: 40px;
	margin: 40px;
}
.nr .nr-bottom .nbnr #nr{
	padding: 10px;
	box-sizing: border-box;
}

/* 内容下面的部分 */
.nr .nr-bottom .nbnr .nran{
	width: 100%;
	height: 220px;
	
	border-top: 2px solid #d6d6d6;
	padding: 44px;
	
	
}
.nr .nr-bottom .nbnr .nran .dxk #dxk1{
	height: 26px;
	width: 26px;
	background-image: url('../../imgs/cr/账号注销/DM_20230327094248_010.PNG');
	background-size: 100%;
	display: inline-block;
	vertical-align: middle;	
	position: relative;
	bottom: 3px;
	
}
.nr .nr-bottom .nbnr .nran .dxk #dxk2{
	height: 26px;
	width: 26px;
	background-image: url('../../imgs/cr/账号注销/单选框.png');
	background-size: 100%;
	display: inline-block;
	vertical-align: middle;	
	position: relative;
	bottom: 3px;
	position: relative;
	right: 30.5px;
	visibility: hidden;
	
	
}
.nr .nr-bottom .nbnr .nran span{
	margin-left: 15px;
	height: 26px;
	display: inline-block;
	position: relative;
	right: 30px;
}

.nr .nr-bottom .nbnr .nran #an>a{
	    width: 444px;
	    height: 60px;
	    display: block;
	    background: #ffe2a4;
		
	    border-radius: 50px;
	    margin: 0 auto;
		line-height: 60px;
		color: #fff;
		text-align: center;
		position: relative;
		top: 40px;
}



/* 尾巴 */
.wb{
	background-color: black;
	height: 100px;
	width: 100%;
	
	
}
.wb .wbnr{
	color: #c0c0c0;
	padding-top: 15px;
}
.wb a{
	width: 900px;
	height: 100%;
	margin: 0 auto;
	
	color: #c0c0c0;
	text-decoration: none;
	
}
.wb .wbnr>p{
	text-align: center;
	font-size: 12px;
	margin-top: 10px;
}
.wb .wbnr p a:hover{
	color: #fff;
}