@media (max-width: 1920px){
	.body-box{
		margin-bottom: -20px;
	}
	.yl{
		margin-bottom: -20px;
	}
}
@media (min-width: 1921px){
.top {
    width: 1920px;
    margin: 0 auto;
}
}
@media (max-width: 1449px){
	.body-box{
		margin-top: 30px;
		position: relative;
		margin-bottom: -15px;
	}
	.all-box{
		width: 1250px;
		position: relative;
	}
	.tj-bottom{
		height: 198px;
	}
	.tj-ul{
		margin-left: 6px;
	}
	.tj-vedio{
		width: 188px;
		margin-left: 14px;
	}
	.vedio-1{
		width: 188px;
		height: 105px;
	}
	.watch-num{
		padding-left: 16px;
	}
	.hot-left{
		width: 850px;
	}
	.hot-right{
		width: 331px;
	}
	.week-bot{
		height: 290px;
	}
	.week-box{
		width: 824px;
	}
	.hot-box{
		height: 290px;
	}
	.ht-ul{
		margin-left: -4px;
	}
	.ht-li{
		margin-left: 22px;
		width: 163px;
	}
	.cover{
		width: 161px;
		height: 222px;
	}
	.text-box h6{
		padding-top: 150px;
	}
	.right-bot{
		padding-top: 0;
		height: 334px;
		width: 410px;
	}
	.gz-name{
		margin-bottom: 0;
		line-height: 25px;
	}
	.left{
		width: 850px;
	}
	.right{
		width: 331px;
	}
	.yl{
		margin-top: 30px;
		position: relative;
		margin-bottom: -15px;
	}
	.gf-ul{
		margin-left: 20px;
		height: 205px;
		overflow: hidden;
	}
	.only{
		height: 92px;
		margin-bottom: 8px;
	}
	.only-img{
		width: 165px;
		height: 92px;
	}
	.only-textbox{
		width: 165px;
	}
	.only-textbox a{
		padding: 3px 15px 0px 8px;
	}
	.ranking{
		width: 220px;
	}
	.rank2-ul{
		margin-top: 10px;
	}
}
