.l1::after{
	width: 100%;
	height: 7px;
	background-image: url('../../imgs/tht/箭头.png');
	content: '\0020';
	position: absolute;
	left: 0px;
	bottom: 0px;
}
.l2::after{
	width: 100%;
	height: 7px;
	background-image: url('../../imgs/tht/箭头.png');
	position: absolute;
	left: 0px;
	bottom: 0px;
}
.l3::after{
	width: 100%;
	height: 7px;
	background-image: url('../../imgs/tht/箭头.png');
	position: absolute;
	left: 0px;
	bottom: 0px;
}
.l4::after{
	width: 100%;
	height: 7px;
	background-image: url('../../imgs/tht/箭头.png');
	position: absolute;
	left: 0px;
	bottom: 0px;
}
.l5::after{
	width: 100%;
	height: 7px;
	background-image: url('../../imgs/tht/箭头.png');
	position: absolute;
	left: 0px;
	bottom: 0px;
}

.l1:hover::after{
	width: 100%;
	height: 7px;
	background-image: url('../../imgs/tht/箭头.png');
	content: '\0020';
	position: absolute;
	left: 0px;
	bottom: 0px;
	animation: l1 0.3s;
}
.l2:hover::after{
	width: 100%;
	height: 7px;
	background-image: url('../../imgs/tht/箭头.png');
	content: '\0020';
	position: absolute;
	left: 0px;
	bottom: 0px;
	animation: l2 0.3s;
}
.l3:hover::after{
	width: 100%;
	height: 7px;
	background-image: url('../../imgs/tht/箭头.png');
	content: '\0020';
	position: absolute;
	left: 0px;
	bottom: 0px;
	animation: l3 0.3s;
}
.l4:hover::after{
	width: 100%;
	height: 7px;
	background-image: url('../../imgs/tht/箭头.png');
	content: '\0020';
	position: absolute;
	left: 0px;
	bottom: 0px;
	animation: l4 0.3s;
}
.l5:hover::after{
	width: 100%;
	height: 7px;
	background-image: url('../../imgs/tht/箭头.png');
	content: '\0020';
	position: absolute;
	left: 0px;
	bottom: 0px;
	animation: l5 0.3s;
}
.l5:hover{
	font-weight: 700;
	color: #1da6ba;
	
}
.l1:hover{
	font-weight: 700;
	color: #1da6ba;
}
.l2:hover{
	font-weight: 700;
	color: #1da6ba;
}
.l3:hover{
	font-weight: 700;
	color: #1da6ba;
}
.l4:hover{
	font-weight: 700;
	color: #1da6ba;
}
.l1{
	font-weight: 700;
	color: #1da6ba;
}
@keyframes l1{
	from{
		left: -50px;
	}
	to{
		left: 0px;
	}
}
@keyframes l2{
	from{
		left: -50px;
	}
	to{
		left: 0px;
	}
}
@keyframes l3{
	from{
		left: -50px;
	}
	to{
		left: 0px;
	}
}
@keyframes l4{
	from{
		left: -50px;
	}
	to{
		left: 0px;
	}
}
@keyframes l5{
	from{
		left: -50px;
	}
	to{
		left: 0px;
	}
}
.mp-ul li:hover{
	font-weight: 700;
	color: #1da6ba;
}
.mp-ul .mp-lli1{
	font-weight: 700;
	color: #1da6ba;
}

.mp-li1::after{
	position: absolute;
	background-image: url('../../imgs/tht/点横.png');
	content: '\0020';
	background-position: center center;
	box-sizing: border-box;
	width: 100%;
	height: 7px;
	left: 0;
	bottom: 0;
	transition: width .2s,left .2s,margin-left .2s;
	background-size: auto auto;
	margin-left: 0;
}

.mp-li2::after{
	position: absolute;
	background-image: url('../../imgs/tht/点横.png');
	background-position: center center;
	box-sizing: border-box;
	width: 100%;
	height: 7px;
	left: 0;
	bottom: 0;
	transition: width .2s,left .2s,margin-left .2s;
	background-size: auto auto;
	margin-left: 0;
}
.mp-li3::after{
	position: absolute;
	background-image: url('../../imgs/tht/点横.png');
	background-position: center center;
	box-sizing: border-box;
	width: 100%;
	height: 7px;
	left: 0;
	bottom: 0;
	transition: width .2s,left .2s,margin-left .2s;
	background-size: auto auto;
	margin-left: 0;
}
.mp-li4::after{
	position: absolute;
	background-image: url('../../imgs/tht/点横.png');
	background-position: center center;
	box-sizing: border-box;
	width: 100%;
	height: 7px;
	left: 0;
	bottom: 0;
	transition: width .2s,left .2s,margin-left .2s;
	background-size: auto auto;
	margin-left: 0;
}
.mp-li5::after{
	position: absolute;
	background-image: url('../../imgs/tht/点横.png');
	background-position: center center;
	box-sizing: border-box;
	width: 100%;
	height: 7px;
	left: 0;
	bottom: 0;
	transition: width .2s,left .2s,margin-left .2s;
	background-size: auto auto;
	margin-left: 0;
}
.mp-li6::after{
	position: absolute;
	background-image: url('../../imgs/tht/点横.png');
	background-position: center center;
	box-sizing: border-box;
	width: 100%;
	height: 7px;
	left: 0;
	bottom: 0;
	transition: width .2s,left .2s,margin-left .2s;
	background-size: auto auto;
	margin-left: 0;
}
.mp-li1:hover::after{
	content: '\0020';
	position: absolute;
	background-image: url('../../imgs/tht/点横.png');
	background-position: center center;
	box-sizing: border-box;
	width: 100%;
	height: 7px;
	left: 0;
	bottom: 0;
	transition: width .2s,left .2s,margin-left .2s;
	background-size: auto auto;
	margin-left: 0;
}
.mp-li2:hover::after{
	content: '\0020';
	position: absolute;
	background-image: url('../../imgs/tht/点横.png');
	background-position: center center;
	box-sizing: border-box;
	width: 100%;
	height: 7px;
	left: 0;
	bottom: 0;
	transition: width .2s,left .2s,margin-left .2s;
	background-size: auto auto;
	margin-left: 0;
}
.mp-li3:hover::after{
	content: '\0020';
	position: absolute;
	background-image: url('../../imgs/tht/点横.png');
	background-position: center center;
	box-sizing: border-box;
	width: 100%;
	height: 7px;
	left: 0;
	bottom: 0;
	transition: width .2s,left .2s,margin-left .2s;
	background-size: auto auto;
	margin-left: 0;
}
.mp-li4:hover::after{
	content: '\0020';
	position: absolute;
	background-image: url('../../imgs/tht/点横.png');
	background-position: center center;
	box-sizing: border-box;
	width: 100%;
	height: 7px;
	left: 0;
	bottom: 0;
	transition: width .2s,left .2s,margin-left .2s;
	background-size: auto auto;
	margin-left: 0;
}
.mp-li5:hover::after{
	content: '\0020';
	position: absolute;
	background-image: url('../../imgs/tht/点横.png');
	background-position: center center;
	box-sizing: border-box;
	width: 100%;
	height: 7px;
	left: 0;
	bottom: 0;
	transition: width .2s,left .2s,margin-left .2s;
	background-size: auto auto;
	margin-left: 0;
}
.mp-li6:hover::after{
	content: '\0020';
	position: absolute;
	background-image: url('../../imgs/tht/点横.png');
	background-position: center center;
	box-sizing: border-box;
	width: 100%;
	height: 7px;
	left: 0;
	bottom: 0;
	transition: width .2s,left .2s,margin-left .2s;
	background-size: auto auto;
	margin-left: 0;
}


